

.button {
  
    text-align: center;
    font-size: 13px;
    background-color:#fab641ff ;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 30px;
    
}

.header {
   display: flex;
   gap: 200px;
   justify-content: center;
   align-items: center;


   background-color: #f5fae3ff;
   
}

.headerList {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 100px;
    justify-content: center;
}

.headerList li:hover {
    border-bottom: 2px solid black
}